*.env
*.log
.idea/
.DS_Store
Thumbs.db
*.tmp
server/server.env
server/.DS_Store
server/Dockerfile
front/node_modules
front/.env
front/build
front/.DS_Store
front/.log
auth/auth.env
auth/.DS_Store
auth/Dockerfile